{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">
                        Вы точно хотите удалить продукт {{ product_to_delete.name }} ?
                     </div>
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-danger" value="Удалить">
                    </form>
                    <button class="btn btn-outline-secondary">
                        <a href="{% url 'admin_staff:products' product_to_delete.category.pk %}">
                            к списку товаров
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
