{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="form-control" type="submit" value="сохранить">
                        </form>
                        <button class="btn btn-round form-control last">
                            <a href="{% url 'admin_staff:users' %}">
                                к списку пользователей
                            </a>
                        </button>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                        <div class="card-body profile-card">
                            <center class="mt-4"> <img src="/media/{{edit_user.avatar|default:'user_avatars/default.png'}}"
                                    class="rounded-circle" width="150" />
                                <h4 class="card-title mt-2">{{objects.fet_full_name}}</h4>
                            </center>
                        </div>
                    </div>
             </div>
        </div>
    </div>
</div>
{% endblock %}